<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="msg">
	<select id="getIdList" parameterType="msgDto" resultType="usersDto">
		SELECT userId
		FROM T_user
		WHERE userId != #{idSend}
		AND userId LIKE '%'||#{idRec}||'%'
		ORDER BY userId ASC
	</select>
	<select id="getCount" resultType="int" parameterType="msgDto">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM T_msg
		WHERE idRec=#{idRec}
		AND recDel is null
	</select>
	<select id="getSentCount" resultType="int" parameterType="msgDto">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM T_msg
		WHERE idSend=#{idSend}
		AND sendDel is null
	</select>
	<select id="getSavedCount" resultType="int" parameterType="msgDto">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM T_msg
		WHERE idRec=#{idRec}
		AND saved is not null
		AND savedDel is null
	</select>
	<select id="getUnreadCount" parameterType="msgDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM T_msg
		WHERE idRec=#{idRec}
		AND readDate is null
		AND recDel is null
	</select>
	<select id="getList" resultType="msgDto" parameterType="msgDto">
		SELECT*
		FROM
		(SELECT result1.*, ROWNUM AS rnum
		FROM
		(SELECT num,idSend,idRec,title,TO_CHAR(sendDate, 'YY/MM/DD HH24:MM:SS') AS sendDate,
					TO_CHAR(readDate, 'YY/MM/DD HH24:MM:SS') AS readDate
		FROM T_msg
		WHERE idRec=#{idRec}
		AND recDel is null
		ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getSentList" resultType="msgDto" parameterType="msgDto">
		SELECT*
		FROM
		(SELECT result1.*, ROWNUM AS rnum
		FROM
		(SELECT num,idSend,idRec,title,TO_CHAR(sendDate, 'YY/MM/DD HH24:MM:SS') AS sendDate,
					TO_CHAR(readDate, 'YY/MM/DD HH24:MM:SS') AS readDate
		FROM T_msg
		WHERE idSend=#{idSend}
		AND sendDel is null
		ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getSavedList" resultType="msgDto" parameterType="msgDto">
		SELECT*
		FROM
		(SELECT result1.*, ROWNUM AS rnum
		FROM
		(SELECT num,idSend,idRec,title,TO_CHAR(sendDate, 'YY/MM/DD HH24:MM:SS') AS sendDate,
					TO_CHAR(readDate, 'YY/MM/DD HH24:MM:SS') AS readDate
		FROM T_msg
		WHERE idRec=#{idRec}
		AND saved is not null
		AND savedDel is null
		ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getData" parameterType="msgDto" resultType="msgDto">
		SELECT num, idSend, idRec, title, content, 
			TO_CHAR(sendDate, 'YY/MM/DD HH24:MM:SS') AS sendDate, 
			TO_CHAR(readDate, 'YY/MM/DD HH24:MM:SS') AS readDate, saved
		FROM T_msg
		WHERE num=#{num}		
	</select>
	<update id="checkRead" parameterType="msgDto">
		UPDATE T_msg
		SET readDate=sysdate
		WHERE num=#{num}
	</update>
	<update id="checkSaved" parameterType="int">
		UPDATE T_msg
		SET saved='yes'
		WHERE num=#{num}
	</update>
	<update id="restoreSavedDel" parameterType="int">
		UPDATE T_msg
		SET savedDel=null
		WHERE num=#{num}		
	</update>
	<insert id="sendMsg" parameterType="msgDto">
		INSERT INTO T_msg
		(num, idSend, idRec, title, content, sendDate)
		values(T_msg_seq.NEXTVAL, #{idSend}, #{idRec}, #{title}, #{content}, SYSDATE)
	</insert>
	<update id="recDel" parameterType="int">
		UPDATE T_msg
		SET recDel='yes'
		WHERE NUM=#{num}
	</update>
	<update id="sendDel" parameterType="int">
		UPDATE T_msg
		SET sendDel='yes'
		WHERE NUM=#{num}
	</update>
	<update id="savedDel" parameterType="int">
		UPDATE T_msg
		SET savedDel='yes'
		WHERE NUM=#{num}
	</update>
	<update id="restoreSaved" parameterType="int">
		UPDATE T_msg
		SET saved=null
		WHERE NUM=#{num}
	</update>
</mapper>