<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<update id="boardwriter" parameterType="usersDto">
		UPDATE T_board
		SET writer = '탈퇴-'||#{empno}
		WHERE writer = #{userid}
	</update>
	<update id="bcommentwriter" parameterType="usersDto">
		UPDATE T_board_comment
		SET writer = '탈퇴-'||#{empno}
		WHERE writer = #{userid}
	</update>
	<update id="filewriter" parameterType="usersDto">
		UPDATE T_file
		SET writer = '탈퇴-'||#{empno}
		WHERE writer = #{userid}
	</update>
	<update id="msgidsend" parameterType="usersDto">
		UPDATE T_msg
		SET idsend = '탈퇴-'||#{empno}
		WHERE idsend = #{userid}
	</update>
	<update id="msgidrec" parameterType="usersDto">
		UPDATE T_msg
		SET idrec = '탈퇴-'||#{empno}
		WHERE idrec = #{userid}
	</update>
	<update id="sugid" parameterType="usersDto">
		UPDATE T_suggest
		SET sugid = '탈퇴-'||#{empno}
		WHERE sugid = #{userid}
	</update>
	<update id="resignuserid">
		UPDATE T_user
		SET userid = '탈퇴-'||#{empno}
		WHERE userid = #{userid}
	</update>

	<select id="isIdExist" parameterType="String" resultType="String">
		SELECT userid
		FROM T_user
		WHERE userid=#{inputId}
	</select>
	<select id="isPnumExist" parameterType="String" resultType="String">
		SELECT pnum
		FROM T_emp
		WHERE pnum=#{inputPnum}
	</select>
	<select id="isUserExist" parameterType="int" resultType="String">
		SELECT userid
		FROM T_user
		WHERE empno=#{empno}
	</select>
	<insert id="insertUser" parameterType="usersDto">
		INSERT INTO T_user
		(empno, userid, pwd, email, profile)
		VALUES(#{empno}, #{userid}, #{pwd}, #{email}, #{profile})
	</insert>
	<insert id="insertEmp" parameterType="usersDto">
		INSERT INTO T_emp
		(empno, ename, hdate, pnum)
		VALUES(to_number(SUBSTR(#{hdate},1,6)||LPAD(T_emp_seq.nextval,4,0)),
			 #{ename}, to_date(#{hdate}, 'yyyymmdd'), #{pnum})
	</insert>
	<select id="getPwdHash" parameterType="String" resultType="String">
		SELECT pwd 
		FROM T_user
		WHERE userid=#{inputId}
	</select>
	<select id="getProfile" parameterType="String" resultType="String">
		SELECT profile
		FROM T_user
		WHERE userid=#{inputId}
	</select>
	<select id="getEname" parameterType="String" resultType="String">
		SELECT ename
		FROM T_emp
		WHERE pnum=#{pnum}
	</select>
	<select id="getIsAdmin" parameterType="String" resultType="String">
		SELECT isadmin
		FROM T_user
		WHERE userid=#{inputId}
	</select>
	<select id="getEmpno" parameterType="String" resultType="int">
		SELECT empno
		FROM T_emp
		where pnum=#{pnum}
	</select>
	<select id="getData" parameterType="String" resultType="usersDto">
		SELECT e.empno, e.ename, TO_CHAR(hdate, 'YYYY-MM-DD') AS hdate, e.pnum, u.userid, u.email, u.profile
		FROM T_user u, T_emp e
		WHERE e.empno=u.empno
		AND u.userid=#{id}
	</select>
	
	<update id="updateProfile" parameterType="usersDto">
		UPDATE T_user
		SET profile=#{profile}
		WHERE userid=#{userid}
	</update>
	
	<update id="updatePwd" parameterType="usersDto">
		UPDATE T_user
		SET pwd=#{pwd}
		WHERE userid=#{userid}
	</update>
	<delete id="delete" parameterType="String">
		
	</delete>
	<select id="getCount" parameterType="usersDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM T_emp
		WHERE isresign is null
		<if test="ename != null">
			AND ename LIKE '%'||#{ename}||'%'
		</if>
	</select>
	<select id="getList" parameterType="usersDto" resultType="usersDto">
		SELECT*
		FROM
		(SELECT result1.*, ROWNUM AS rnum
		FROM
		(SELECT e.empno, e.ename, e.pnum, u.userid, u.email, TO_CHAR(hdate, 'YYYY-MM-DD') AS hdate
		FROM T_emp e LEFT JOIN T_user u
		ON e.empno=u.empno
		WHERE e.isresign is null
		<if test="ename != null">
			AND e.ename LIKE '%'||#{ename}||'%'
		</if>
		ORDER BY empno ASC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getCountR" parameterType="usersDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM T_emp
		WHERE isresign is not null
		<if test="ename != null">
			AND ename LIKE '%'||#{ename}||'%'
		</if>
	</select>
	<select id="getListR" parameterType="usersDto" resultType="usersDto">
		SELECT*
		FROM
		(SELECT result1.*, ROWNUM AS rnum
		FROM
		(SELECT e.empno, e.ename, e.pnum, u.userid, u.email, TO_CHAR(hdate, 'YYYY-MM-DD') AS hdate, TO_CHAR(rdate, 'YYYY-MM-DD') AS rdate
		FROM T_emp e LEFT JOIN T_user u
		ON e.empno=u.empno
		WHERE e.isresign is not null
		<if test="ename != null">
			AND e.ename LIKE '%'||#{ename}||'%'
		</if>
		ORDER BY empno ASC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<delete id="deleteUser" parameterType="int">
		DELETE FROM T_user
		WHERE empno=#{empno}	
	</delete>
	<update id="resignEmp" parameterType="int">
		UPDATE T_emp
		SET isresign = 'yes'
		WHERE empno=#{empno}	
	</update>
	<update id="resignDate" parameterType="int">
		UPDATE T_emp
		SET rdate=sysdate
		WHERE empno=#{empno}
	</update>
</mapper>